*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1{
    background-color: violet;
    width: 70%;
    float: left;
}
.box2{
    background-color: sandybrown;
    width: 30%;
    float: left;
}
h1{
    font-size: 70px;
}
/* ipad */
@media screen and (max-width : 768px){

   .box1{
    width: 50%;
    background-color: tomato;
   }

   .box2{
    width: 50%;
    background-color: darkblue;
   }
}
/* mobile */
@media screen and (max-width : 400px){

    .box1{
     width: 100%;
     background-color: gray;
    }
 
    .box2{
     width: 100%;
     background-color: goldenrod;
    }
 }

 img{
    width: 100%;
    height: auto;
 }
 video{
    width: 100%;
    height: auto;
 }

