body {
  box-sizing: border-box;
}
.border-property p {
  padding: 30px;
  width: 430px;
  height: 400px;
  margin: 30px;
  border: 2px solid green;
  border-bottom: 3px solid;
  border-top: 4px dotted;
  border-right: 5px groove pink;
  border-radius: 10px;
  font-size: larger;
  font-weight: 500;
  font-style: oblique;
  font-variant: small-caps;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: all-scroll;
  cursor: auto;
  cursor: pointer !important;
  cursor: col-resize;
  cursor: copy;
  cursor: not-allowed;
  cursor: help;
  cursor: move;
  background-color: coral;
  box-shadow: 7px 3px 4px teal, 5px 4px 8px rgb(207, 24, 54);
  opacity: 1;
  filter: blur(10px);
  filter: brightness(40%);
  filter: contrast(80%);
  filter: drop-shadow(10px 10px 10px red);
  filter: grayscale(80%);
  filter: hue-rotate(49deg);
  filter: saturate(90%);
  filter: sepia(40%);
}
.height-width {
  border: 3px solid hotpink;
  width: 400px;
  width: 300px;
  /* height: 20vh; */
  overflow: hidden;
  /* height: 100%; */
  margin: 30px;
  /* overflow: scroll; */
}

.height-width a {
  border: 2px solid tomato;
}
a:link {
  color: violet;
}
a:visited {
  color: springgreen;
}
a:hover {
  border: 4px solid deeppink;
  background-color: yellow;
  border-radius: 5px;
}
a:active {
  color: black;
}

.padding {
  width: 500px;
  /* border: 3px solid blueviolet; */
  background-color: rgb(241, 234, 241);
  margin: 40px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  /* text-align: center;
text-align: end;
text-align: justify;
text-align: start; */
  text-transform: capitalize;
  text-transform: lowercase;
  text-transform: uppercase;
  text-transform: capitalize;
  text-overflow: ellipsis;
  text-overflow: clip;
  text-shadow: 4px 4px 8px firebrick;
  text-align-last: center;
  word-break: break-all;
  word-break: keep-all;
  letter-spacing: 3px;
  word-spacing: 1px;
}
